//variables

$card-hover-color: rgba(0, 0, 0, 253);
$body-bkgd-color: radial-gradient(#e5e5e5, #ffffff, #e5e5e5);
$card-padding: 0.8rem;
$card-content-alignment: left;
$card-img-scale: scale(1);
$card-img-hover-scale: scale(1.5);
